
.ChangeAlert-container {
  margin: auto;
  padding: 30px;
  width: calc(100% - 110px);
  
  font-size: 130%;
  font-family: 'Montserrat';
  font-weight: 400;

  border-radius: 15px;
  background: #121f3d;
  color: #59aad6;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.ChangeAlert-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #202329;
  font-weight: 400;
  width: 130px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: 'Montserrat';
  background: #61DAFA;
}

.ChangeAlert-button:hover {
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}