.ToDoSearch {
  background: #121f3d;
  border-radius: 15px;
  border: 1px solid #007fd4;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 130%;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #59aad6;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.ToDoSearch::placeholder {
  color: #cccccc;
  font-family: 'Montserrat';
  font-weight: 400;
}

.ToDoSearch:focus {
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}

.ToDoSearch:hover {
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}

.ToDoSearch:disabled {
  opacity: 25%;
}