.ToDoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
}

.ToDoCounter--loading {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  opacity: 25%;
}

.ToDoCounter--bloked {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  opacity: 25%;
}
